In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.cross_validation import cross_val_score, train_test_split
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from tqdm import tqdm
import sklearn
from imblearn.over_sampling import RandomOverSampler
from sklearn import svm
import matplotlib.pyplot as plt
%matplotlib inline

/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('train.csv', encoding='latin')
df.head()

,id,label,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,...,feat207,feat208,feat209,feat210,feat211,feat212,feat213,feat214,feat215,feat216
0,1,1,7,0,3,0,2,3,0,6,...,3,4,2,2,0,13,0,11,1,3
1,2,1,0,11,0,0,10,1,0,0,...,0,2,0,0,2,8,1,13,0,4
2,3,0,9,0,3,0,1,3,0,4,...,48,11,2,0,0,4,0,2,0,0
3,4,0,0,9,3,2,25,0,4,0,...,1,14,1,0,0,0,3,0,17,1
4,5,0,0,0,0,0,2,5,0,0,...,3,12,0,3,0,4,0,24,4,0

In [3]:
df_test = pd.read_csv('test.csv')
df_test.head()

,id,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat207,feat208,feat209,feat210,feat211,feat212,feat213,feat214,feat215,feat216
0,1,4,2,2,0,4,2,1,2,1,...,4,5,3,1,0,7,1,6,2,3
1,2,3,3,0,0,1,2,0,9,3,...,8,1,0,0,1,21,0,27,2,0
2,3,0,0,0,2,2,8,0,1,0,...,3,23,0,0,0,1,0,5,1,1
3,4,0,0,0,0,0,0,0,7,0,...,9,4,0,0,0,14,0,18,1,3
4,5,1,2,3,0,2,0,0,13,0,...,2,4,0,2,0,20,0,17,1,7

Nan-ов нигде нет, хорошо

Самый хороший результат на кросс-валидации дал SVM c ядром rbf, поэтому будем использовать его

In [5]:
features_train = np.array(df.iloc[:,2:])
y_train = np.array(df.label)
features_test = np.array(df_test.iloc[:,1:])

### SVM

In [19]:
clf = svm.SVC(kernel='rbf', random_state=0, gamma=0.001, probability=True)
clf.fit(features_train, y_train)
predictions_proba = clf.predict_proba(features_test)

In [20]:
predictions_proba

array([[4.28575787e-03, 9.95714242e-01],
       [2.23384227e-07, 9.99999777e-01],
       [9.08544650e-01, 9.14553504e-02],
       ...,
       [1.26947159e-05, 9.99987305e-01],
       [5.27009975e-03, 9.94729900e-01],
       [5.26459721e-03, 9.94735403e-01]])

In [21]:
predictions = predictions_proba[:,1]
predictions[predictions>0.5] = 1
predictions[predictions<=0.5] = 0

Записываем результат

In [22]:
answers = pd.read_csv('sampleSubmission.csv')
answers['label'] = list(map(int, np.array(predictions)))
answers.to_csv('attempt1.csv',  index=False)
answers.head()

   id  label
0   1      1
1   2      1
2   3      0
3   4      1
4   5      1